.weather{
    width: 100%;
    padding: 80px;
    border-radius: 10px;
    /*background-image: linear-gradient(45deg, #007afc, #791adf);*/
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    transition: background-image 0.4s ease, background-color 0.4s ease;
}

.search-bar{
    display: flex;
    align-items: center;
    gap: 12px;
}

.search-bar input{
    height: 50px;
    border: none;
    outline: none;
    border-radius: 40px;
    padding-left: 25px;
    color: #626262;
    background: #ebfffc;
    font-size: 18px;
}

.search-bar img{
    height: 50px;
    width: 50px;
    padding: 15px;
    border-radius: 50%;
    background: #ebfffc;
    cursor: pointer;
}

.weather-icon{
    height: 200px;
    width: 200px;
    margin: 10px 0;
    
}

.temperature{
    font-size: 80px;
    color: #fff;
    font-weight: 400;
    line-height: 1;
}

.location{
    font-size: 30px;
    color: #fff;
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 20px;
}

.weather-data{
    width: 100%;;
    color: #fff;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.weather-data .col{
    display: flex;
    font-size: 22px;
    align-items: flex-start;
    gap: 12px;
}

.weather-data .col span{
    display: block;
    font-size: 16px;
}

.weather-data .col img{
    height: 40px;
    width: 40px;
    margin-top: 10px;
}

/* Weather theme variants */
.weather--default {
    background-image: linear-gradient(45deg, #007afc, #791adf);
}

.weather--clear {
    background-image: linear-gradient(45deg, #0471d0, #31bec5);
}

.weather--cloudy {
    background-image: linear-gradient(45deg, #0c0c0c, #7b7676);
}

.weather--rain {
    background-image: linear-gradient(45deg, #031d5a, #4286f4);
}

.weather--snow {
    background-image: linear-gradient(45deg, #4f75ae, #69edf4);
}